<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Tabela Mágica <b>fórmula de Greenblatt. </b>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0);" routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Tabela Mágica
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-xl-12">


            <h4>Tabela Mágica</h4>
            <div class="card card-block">
                <div class="table-responsive" *ngIf="tabelaMagica">
                    
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Empresa</th>
                                <th>Papel</th>
                                <th>rank</th>
                                <th>P/L</th>
                                <th>P/VP</th>
                                <th>Divden. Yield</th>
                                <th>Marg. EBIT</th>
                                <th>Liqui. Corre.</th>
                                <th>ROE</th>
                                <th>Liqui. 2 M</th>
                                <th>Cresi.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let papel of tabelaMagica" [class.table-success]="papel.rank <=5">
                                <td>{{papel.nome}}</td>
                                <td>{{papel.papel}}</td>
                                <td>{{papel.rank}}</td>
                                <td>{{papel.fundamento.p_l}}</td>
                                <td>{{papel.fundamento.p_vp}}</td>
                                <td>{{papel.fundamento.dividentoYIELD}}</td>
                                <td>{{papel.fundamento.margemEBIT}}</td>
                                <td>{{papel.fundamento.liquidezCorrete}}</td>
                                <td>{{papel.fundamento.roe}}</td>
                                <td>{{papel.fundamento.liquidez2Meses}}</td>    
                                <td>{{papel.fundamento.crescimento}}</td>    
                            </tr>                            
                        </tbody>
                    </table>
                        
                </div>
            </div>            
        </div>
    </div>
</div>